<%- include('../layout/header'); -%>

    <main>
        <div class="main-header">
            <h5>Search by Title or Author</h5>
        </div>
        <section id="book-form">
            <form action="/searches" method="POST">
                <input type="text" name="bookname" placeholder="Please enter a Title or author" id="book-info">
                <br>
                <div class="inputs">
               <label for="title">Title</label>
               <input type="radio" name="searchtype" value="title">
               </div>
               <br>
               <div class="inputs">

               <label for="author">Author</label>
               <input type="radio" name="searchtype" value="author">
               </div>
<div id="search-btn">
    <button>GOOGLE BOOKS</button>
</div>
            </form>
        </section>
    </main>
    <%- include('../layout/footer'); -%>
</body>
  
</html>