<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book-app</title>
    <link rel="stylesheet" href="/styles/reset.css" type="text/css">
    <link rel="stylesheet" href="/styles/base.css" type="text/css">
    <link rel="stylesheet" href="/styles/theme.css" type="text/css">
    <link rel="stylesheet" href="/styles/icons.css" type="text/css">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css">
    <link rel="stylesheet" href="/styles/modules.css" type="text/css">
</head>

<body>
    <header>
        <div id="logo">
            <h1>Best Books</h1>
        </div>
        <div id="menu-bar">
            <div id="humrger-btn">
                <div id="bar1 " class="bar bar1"></div>
                <div id="bar2 " class="bar bar2"></div>
                <div id="bar3 " class="bar bar3"></div>
            </div>
            <div class="main-nav">
                <ul class="nav" id="nav">
                    <li><a href="/index">My favorite Books</a></li>
                    <li><a href="/search">GOOGLE BOOKS</a></li>
                </ul>
            </div>
        </div>
        <div class="menu-bg" id="menu-bg"></div>

    </header>