<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
    <h1>Hello Word</h1>
    <p><a href="/hello">test my route</a></p>

   </main>
</body>
</html>